.card-header {
  padding-top: 4.5%;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  background: #112d4e;
  color: #eeeeee;
}

.login-img {
  background-image: url("https://i.imgur.com/AT01Yhk.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-8 {
  display: flex;
  justify-content: center;
}

.btn-add {
  background: #112d4e !important;
}
.space {
  display: flex;
  justify-content: center;
}
#remember {
  margin: auto 0;
  position: inherit;
}
/* css for users */

.py-4 {
  height: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.employeeContainer {
  display: flex;
  justify-content: space-around;
}

.deleteUser {
  display: flex;
  justify-content: center;
}

td {
  vertical-align: middle !important;
}

.contain {
  width: auto;
}

.mb-0 {
  padding: 0px !important;
}

.butt {
  background-color: white;
  color: black;
  border: 2px solid #3f72af;
  border-radius: 15px;
}

.butt:hover {
  background-color: #112d4e !important;
  color: #eeeeee;
}

.btn:active {
  background-color: #3e8e41 !important;
  box-shadow: 0 5px #3f72af;
  transform: translateY(4px);
}

#show {
  text-align: end;
}

input:hover {
  background-color: #112d4e;
  color: #eeeeee;
}

.dropdown-toggle {
  text-align: end;
}
.dropdown-toggle:hover {
  color: #eeeeee;
}
#navbarDropdown {
  color: white !important;
}
.viewCustomer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#buttContainer {
  padding: 0;
  width: 100%;
  place-self: center;
}

@media screen and (min-width: 768px) {
  /* .Customer {
        width: fit-content;
        margin: 20px auto;
    } */
  .Table {
    table-layout: fixed;
  }
  .th {
    margin: auto;
    width: 100%;
    font-size: 1.3vw;
    padding: 10px !important;
  }
  .td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 0 !important;
    font-size: 0.7em;
  }
  .viewCustomer {
    padding: 5px;
  }
  .th,
  .td {
    width: 33.3333%;
  }
}

.addButt {
  padding: 0 !important;
  margin-top: 20px;
}

.Customer {
  margin: 8% auto;
}

.flex {
  display: flex;
}

body {
  font-family: ‘Lato’, sans-serif !important;
}
